<div class="container anchor indexpage">
<h1>About me</h1>
<p>There is not really much to say. I have an interest in learning to code. And every day is basically like a shipwreck. As if I were sinking. Then, as if by miracle, somebody throws me a lifejacket. And then I sail again, until I hit the coding rocks again. Like five times a day.</p>
</div>
