<div class="container anchor indexpage">
<h1>Welcome to my blog</h1>
<p>A blog about my journey to coding nirvana....</p>
<div class="firstpics">
<%= image_tag("firstpic.jpg", class: "img-responsive my-image") %>
</div>
</div>